



/* NAVBAR SECTION */
.nav-brand {
    font-size: 28px;
    color: green;
}
.nav-item {
    padding: 0 10px 0 10px;
    font-size: 14px;
}
.navbar-nav {
    margin-left: 400px;
}


/* HERO SECTION */

.hero-container {
    margin-top: 130px;
}
.hero-img {
    margin-top: -80px;
    margin-left: 110px;
}

/* MAIN SECTION */

.main-div1 {
    text-align: center;
    margin-top: 80px;
}
.main-divp {
    width: 50%;
    margin: 0 auto 0 auto;
}
.main-container {
    margin-top: 70px;
}
.mc-col1 {
    text-align: right;
}
.mc-col1-child {
    padding: 40px 40px;

}
.mc-div {
    margin-top: 80px;
}
/* .mc-order {
    border: 1px solid green;
    width: 5%;
} */

/* MAIN SECTION2 */

.ms2-div {
    margin-top: 90px;
    text-align: center;
    line-height: 1.5;
}
.ms2-div p {
    width: 50%;
    margin: 0 auto 0 auto;
}
.ms2-btn {
    margin-top: 30px;
}

/* MAIN SECTION3 */

.ms3-container {
    margin-top: 160px;
}

.circle-div {
    height: 300px;
    width: 300px;
    border: 1px solid #198754;
    border-radius: 50%;
    background-color: #198754;
}
.ms3-col1 {
    position: relative;
}
.ms3-img {
    transform: rotate(35deg);
    position: absolute;
    bottom: 9px;
    left: 180px;
    
}
.ms3-img2 {
    transform: rotate(-35deg);
    position: absolute;
    bottom: 100px;
}
.ms3-inner-col {
    line-height: 1.5;
    margin-top: 40px;
    margin-bottom: 40px;
}

/* MAIN SECTION4 */

.ms4-container {
    position: relative;
    border-radius: 20px;
    margin-top: 120px;
    color: white;
    background-color: #198754;
}
.ms4-inner-container {
    width: 50%;
    padding: 50px 20px 30px 30px;
}
.ms4-img {
    position: absolute;
    bottom: 4px;
    left: 830px;

}
.ms4-img2 {
    position: absolute;
    bottom: 150px;
    left: 990px;
}

/* FOOTER SECTION */

.footer-container-fluid {
    border-radius: 20px;
    margin-top: 120px;
    background-color: #343434;
    color: white;
}
.footer-col {
    margin-top: 80px;

}


/* MEDIA QUERY */
@media (min-width: 320px) and (max-width: 600px) {
    body {
        
    }

    .hero-container {
        position: relative;
        text-align: center;
        margin-top: 50px;

    }
    .hero-btn-div {
        margin-top: 250px;
    }
    .hero-btn {
        font-size: 20px;
        margin-top: 10px;
    }
    .hero-img {
        transform: rotate(35deg);
        margin-bottom: 30px;
        height: 200px;
        width: 100px;
        position: absolute;
        bottom: 100px;
        right: 100px;
    }


    .mc-img {
        transform: rotate(-35deg);
        margin-left: 100px;
        height: 200px;
        width: 100px;
    }
    .mc-col1, .mc-col2 {
        text-align: center;
    }

    .ms3-container {
        text-align: center;
    }
   .ms3-img2 {
        transform: rotate(-35deg);
        position: absolute;
        bottom: 90px;
        right: 190px;
    }


    .ms4-container {
        position: relative;
    }
    .ms4-inner-container {
        position: relative;
        width: 100%;
    }
    .ms4-img2 {
        position: absolute;
        right: 990px;
    }

    

}